@keyframes shake {
    0%         { transform: rotate(0deg); }
    20%     { transform: rotate(-10deg); }
    40%     { transform: rotate(10deg); }
    60%     { transform: rotate(-5deg); }
    80%     { transform: rotate(5deg); }
    100%     { transform: rotate(0deg); }
}

html, body {
    color: #424242;
}

main {
    text-align: center;
    padding: 1em;
}

h1 {
    text-align: center;
}

.box, 
.present {
    width: 100%;
    height: 100%;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.user {
    width: 12em;
    height: 12em;
    margin: 1em;
    perspective: 850px; 
}

.box {
    background: linear-gradient(135deg, #b85f74 50%, #a94b61 50%);
    transform-style: preserve-3d;
    transform-origin: 0;
    perspective: 850px; 
    text-align: center;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.box .img {
    line-height: 7em;
    width: 7em;
    height: 7em;
    background: #292654;
    border-radius: 50%;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.15);
}
.box h2 {
    margin: 0;
    padding: 0.5em;
    font-size: 0.85em;
    color: white;
}

.user.active .box {  
    background: linear-gradient(135deg, #cd8d9c 50%, #c57c8d 50%);
    transform: rotateY(-97deg);
    perspective-origin: 0;
    transition: all .4s ease-in;
}

.user.active .box h2 {
    backface-visibility: hidden;
}

.present {
    position: absolute;
    top: 0;
    left: 0;
    background: #0f0e1f;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15), inset 0 0 30px 20px rgba(0, 0, 0, 0.4);
    z-index: -1;
    text-align: center;
}

.bauble {
    background: #a94b61;
    font-size: 2em;
    font-weight: bold;
    line-height: 2.75em;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bauble img {
    max-width: 100%;
    max-height: 100%;
}

.bauble-flex {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 12rem;
}

.bauble-flex .name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    background: rgba(0, 0, 0, .6);
}

.popup {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;

    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    transition: all 2s ease;

}
.popup-close {
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    color: #aaa;
}
.popup-close:hover {
    color: #eee;
}

.popup.big {
    cursor: pointer;
    transition: all .5s ease;
    top: 0!important;
    left: 0!important;
    width: 100%;
    height: 100%;
    animation: shake 1s;
}

.popup > div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.instructions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
